section.App
	.conteiner

		.App__row
			.App__column-top
				img.App__column-top-img(src="./assets/images/App/app-icon_v2-defef68476.png", alt="")
				h3.title Get the app.Order <span>with a tap.</span>
				
			.App__column-bottom
				img.App__column-bottom-img(src="./assets/images/App/Layer20.png", alt="")
				img.App__column-bottom-img(src="./assets/images/App/en_badge_web_generic-cf6dad406f.png", alt="")