section.App
	.conteiner
		.App__row
			.App__column-top
				img.App__column-top-img(src="#", alt="")
				h3.title
			.App__column-bottom
				img.App__column-bottom(src="", alt="")
				img.App__column-bottom(src="", alt="")