section.findFood.findFood--bg
	.conteiner
		.findFood__row

			img.findFood__img(src="#", alt="")

			.findFood__block 
				h2.title
				input.findFood__input(type="text" 
				placeholder="Enter your delivery address"
				name="input"
				)
				button.bth.findFood__bth