footer.footer
	.conteiner
		.footer__row

			.footer__column

				.footer__lang
					p.lang--eu English
				.footer__list-icon
					a.footer__link-icon(href="#")
						img.footer__icon(src="#", alt="")
					a.footer__link-icon(href="#")
						img.footer__icon(src="#", alt="")
					a.footer__link-icon(href="#")
						img.footer__icon(src="#", alt="")

			.footer__column
				ul.footer__list
					li.footer__items About Uber Eats
					li.footer__items Become a Delivery Partner
					li.footer__items Become a Restaurant Partner

			.footer__column
				ul.footer__list
					li.footer__itemsSee See all cities
					li.footer__items Pricing
					li.footer__items Help
					li.footer__items FAQs
					li.footer__items Blog

			.footer__column
				ul.footer__list
					li.footer__items Blog
					li.footer__items Privacy
					li.footer__items Terms

			.footer__column
				.footer__block
					p.text.footer__text Download Uber Eates App From:
					.footer__images
						img.footer__img(src="./assets/images/footer/en_badge_web_generic-cf6dad406f.png", alt="")
						img.footer__img(src="./assets/images/footer/Layer20.png", alt="")
