footer.footer
	.conteiner
		.footer__row

			.footer__column

				.footer__lang
				.footer__list-icon
					a.footer__link-icon(href="#")
						img.footer__icon(src="#", alt="")
					a.footer__link-icon(href="#")
						img.footer__icon(src="#", alt="")
					a.footer__link-icon(href="#")
						img.footer__icon(src="#", alt="")

			.footer__column
				ul.footer__list
					li.footer__items
					li.footer__items
					li.footer__items

			.footer__column
				ul.footer__list
					li.footer__items
					li.footer__items
					li.footer__items
					li.footer__items
					li.footer__items
					li.footer__items

			.footer__column
				ul.footer__list
					li.footer__items
					li.footer__items
					li.footer__items

			.footer__column
				.footer__block
					p.text.footer__text
					.footer__images
						img.footer__img
						img.footer__img
