section.foodSearch.foodSearch--bg
	.conteiner
	
		.foodSearch__row
			h2.title Find food you love from local restaurants and chain<span>favourites.</span>
			button.bth.foodSearch__bth Find Food
			img.foodSearch__img(src="#", alt="")