header.header.header--bg
	.conteiner
	
		.header__description
			h1.title There is no SincererLove than the <span class="title-span"> love of food.</span>
			p.text.header__text Lorem ipsum dolor sit amet, consectetur adipiscing.
			button.bth Place an Order
	button.bth.header__bth Sign up

