header.header.header--bg
	.conteiner
	
		.header__description
			h1.title There is no SincererLove than the <span> love of food.</span>
			p.text Lorem ipsum dolor sit amet, consectetur adipiscing.
			button.bth.header__bth Place an Order

