section.restaurant.restaurant--bg
	.conteiner

		.restaurant__row
			h2.title Track your food in real time from the <span>restaurant to you.</span>
			
		img.restaurant__img(src="./assets/images/restaurant/Color_Silvercopy.png", alt="")