section.Services
	.conteiner

		.Services__row

			.Services__column-left
				img.Services__left-img(src="#", alt="")
				h3.title.title-color
				p.text
				button.bth.services__bth
				
			.Services__column-right
				img.Services__right-img(src="#", alt="")
				h3.title.title-color
				p.text.
				button.bth.services__bth