<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="css/index.min.css")
	body
		|
		|
		include main/pug/modulis/header/_header.pug
		|
		|
		|
		include main/pug/modulis/content/_findFood.pug
		|
		|
		|
		include main/pug/modulis/content/_foodSearch.pug
		|
		|
		|
		include main/pug/modulis/content/_uber.pug
		|
		|
		|
		include main/pug/modulis/content/_restaurant.pug
		|
		|
		|
		include main/pug/modulis/content/_App.pug
		|
		|
		|
		include main/pug/modulis/content/_Services.pug
		|
		|
		|
		include main/pug/modulis/footer/_footer.pug
		|
		|
		|
		include main/pug/modulis/_js.pug

